.idea

Module 00/ex00/megaphone
Module 00/ex01/annuaire
Module 00/ex02/test
Module 00/test/test

Module 01/ex00/zombie
Module 01/ex01/horde
Module 01/ex02/brain
Module 01/ex03/violence
Module 01/ex04/replacer
Module 01/ex05/Karen
Module 01/ex06/karenFilter

Module 02/ex00/fixed
Module 02/ex01/fixed
Module 02/ex02/fixed
Module 02/ex03/fixed

Module 03/ex00/borderland
Module 03/ex01/borderland
Module 03/ex02/borderland
Module 03/ex03/borderland

Module 04/ex00/catsndogs
Module 04/ex01/catsndogs
Module 04/ex02/catsndogs
Module 04/ex03/materia

Module 05/ex00/idiocraty
Module 05/ex01/idiocraty
Module 05/ex02/idiocraty
Module 05/ex03/idiocraty
Module 06/ex00/convert
